.block--phpwarnings {
    background-color: white;
}
.block--phpwarnings > ul > li > a {
    color: blue !important;
}
.block--phpwarnings > ul li.status-emergency,
.block--phpwarnings > ul li.status-alert,
.block--phpwarnings > ul li.status-critical,
.block--phpwarnings > ul li.status-error {
    background-image: url(../icons/error.svg);
}
.block--phpwarnings > ul li.status-warning {
    background-image: url(../icons/warning.svg);
}
.block--phpwarnings > ul li.status-notice {
    background-image: url(../icons/notice.svg);
}
.block--phpwarnings > ul li.status-info {
    background-image: url(../icons/info.svg);
}
.block--phpwarnings > ul li.status-debug {
    background-image: url(../icons/debug.svg);
}
.block--phpwarnings > ul li {
    min-height: 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style: none;
    color: black;
    margin-bottom: 0.75em;
}
